NODE_ENV=development
PORT=4000
OCPI_URL=https://ocpi_url.com/ocpi/cpo/2.2.1/
OCPI_AUTH_KEY=ocpi_auth_key
BPP_ID=connector-bpp
BPP_URI=https://bpp_url.com/
PROTOCOL_SERVER_URL=https://protocol-server-url.com/
REDIS_PASSWORD=
CLICKHOUSE_PASSWORD=
