[submodule "specs/beckn-schema/protocol_specifications_new"]
	path = specs/beckn-schema/protocol_specifications_new
	url = https://github.com/beckn/protocol-specifications-new/
	branch = draft
[submodule "specs/ocpi-schema"]
	path = specs/ocpi-schema
	url = https://github.com/solidstudiosh/ocpi-schema.git
